.max-h-0 {
  max-height: 0px;
}
.max-h-px {
  max-height: 1px;
}
.max-h-none {
  max-height: none;
}
.max-h-full {
  max-height: 100%;
}
.max-h-screen {
  max-height: 100vh;
}
.max-h-min {
  max-height: min-content;
}
.max-h-max {
  max-height: max-content;
}
.max-h-fit {
  max-height: fit-content;
}
