//Margin & Padding
$base-margin: 0.25rem;
$base-padding: 0.25rem;
//Width & Height
$base-width: 0.25rem;
$base-height: 0.25rem;
//Gap
$base-gap: 0.25rem;
//Z-Index
$base-z-index: 10;
//Top/Bottom/Left/Right
$base-tblr: 0.25rem;
//Flex Basis
$base-flex-basis: 0.25rem;
//Borders
$base-border: 0.125rem;
